#imagen{

    position:absolute;
    top:25%;
    right:35%;
}
#nombre{

    position:absolute;
    top:30%;
    left:68%;

}
#telefono{

    position:absolute;
    top:40%;
    left:68%;

}
#email{

    position:absolute;
    top:50%;
    left:68%;

}
#califica{

    position:absolute;
    top:80%;
    left:45%;

}
#calificacion{

    position:absolute;
    top:75%;
    left:45%;

}

#leyenda{

    position:absolute;
    top:24%;
    left:65%;

}

/*Clientes*/

#nombre_cliente{

    position:absolute;
    top:40%;
    left:25%;

}
#telefono_cliente{

    position:absolute;
    top:40%;
    left:45%;

}
#email_cliente{

    position:absolute;
    top:40%;
    left:65%;

}
div#tablapagos{

    right: 30%;
}



/*Calificacion*/

.rate_widget {
    border:     1px solid #CCC;
    overflow:   visible;
    padding:    10px;
    position:   relative;
    width:      180px;
    height:     32px;
}
.ratings_stars {
    background: url('images/Rating/star_empty.png') no-repeat;
    float:      left;
    height:     28px;
    padding:    2px;
    width:      32px;
}
.ratings_vote {
    background: url('images/Rating/star_full.png') no-repeat;
}
.ratings_over {
    background: url('images/Rating/star_highlight.png') no-repeat;
}

/*Diseño de la tabla*/
.registros{

    text-align:center;
    color: black;

}

.busca {
    color: white;
    left:5%;

}
.mostrar{
    color: white;    
}

.dataTables_info{

    color: white;
}

#abogados_previous{

    color: white;
}

/*Abogados*/
#main_content_abogs{

    left: 25%;
    position: absolute;
    top: 30%;
    width:75%;
}