#imagen{

    position:relative;
    top:15%;

}

#datos{

    position:relative;
    width:20%;   

}
#nombre{

}
#telefono{


}
#email{



}
#califica{

    position:relative;
    top:10%;
    left:35%;

}
#calificacion{

    position:relative;
    top:75%;
    left:45%;

}

#leyenda{

    position:absolute;
    top:24%;
    left:65%;

}

/*Clientes*/

#nombre_cliente{

    position:absolute;
    top:40%;
    left:25%;

}
#telefono_cliente{

    position:absolute;
    top:40%;
    left:45%;

}
#email_cliente{

    position:absolute;
    top:40%;
    left:65%;

}
div#tablapagos{

    right: 30%;
}

#grafica{

   
    height: 300px;
    width: 500px;
  
}

#grafica_califica{
    
     position:absolute;
        left:45%; 
    
}

/*Calificacion*/

.rate_widget {
    border:     1px solid #CCC;
    overflow:   visible;
    padding:    10px;
    position:   relative;
    width:      180px;
    height:     32px;
}
.ratings_stars {
    background: url('images/Rating/StarEmpty2.png') no-repeat;
    float:      left;
    height:     28px;
    padding:    2px;
    width:      32px;
}
.ratings_vote {
    background: url('images/Rating/StarFull2.png') no-repeat;
}
.ratings_over {
    background: url('images/Rating/StarHover2.png') no-repeat;
}

/*Diseño de la tabla*/
.registros{

    text-align:center;
    color: black;

}

.busca {
    color: white;
    left:5%;
}

.mostrar{
    color: white;    
}

.dataTables_info{

    color: white;
}

#abogados_previous{

    color: white;
}

/*Abogados*/
#main_content_abogs{

    left: 25%;
    position: absolute;
    top: 35%;
    width:75%;
}